<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %}{% endblock %}</title>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='button_color.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='clear.js') }}"></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">

    </head>

    <body>
        {% block heading %} {% endblock %}

        <div class="container">
         <div>
          <br>
          <button style="color:#996699;" type="button" class="btn btn-outline-light" id="pur">Purple</button>&nbsp
          <button style="color:#003366;" type="button" class="btn btn-outline-light" id="bla">Blue</button>&nbsp
          <button style="color:#C0B283;" type="button" class="btn btn-outline-light" id="gld">Gold</button>
        </div>

        <div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="alert alert-danger alert-dismissible">
                        {% for message in messages %}
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{ message[1] }}</strong>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>

            {% block content %}{% endblock %}

        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>


</html>