{% extends "base.html" %}

{% block title %} Sudoku {% endblock %}

{% block content %}
    <h1 class="text-center">SUDOKU</h1>
    <table>
      <tr>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
      </tr>
      <tr>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
      </tr>
      <tr>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
      </tr>
      <tr>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
      </tr>
      <tr>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
      </tr>
      <tr>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
      </tr>
      <tr>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
      </tr>
      <tr>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
      </tr>
      <tr>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
        <td> x </td>
      </tr>
    </table>


{% endblock %}