{% extends "base.html" %}

{% block title %} Sudoku {% endblock %}

{% block heading %}  <h1>SUDOKU</h1> {% endblock %}

{% block content %}

  <div class="game-container" >
    <div class="grid-container" >
      <form action="{{ url_for('sudoku_solve') }}" method="post" name="sudoku-input">
        {% for i in range(9) %}
          <div class="grid-row" >
            {% for j in range(9) %}
              <div class="grid-cell" >
                <input type="text" maxlength="1" name='cell-input[{{ j+i*9 }}]' class="def-txt-input">
              </div>
            {% endfor %}
          </div>
        {% endfor %}
        <br>
        <button id="clear-btn" type="button" class="btn btn-outline-primary">Clear</button>&nbsp
        <input type="submit" value="Solve" class="btn btn-outline-success"><br>
      </form>
    </div>
  </div>

{% endblock %}