{% extends "base.html" %}

{% block title %} Sudoku Solved {% endblock %}

{% block heading %}  <h1>SUDOKU SOLVED</h1> {% endblock %}

{% block content %}
    <div class="game-container">
      <div class="grid-container">
          {% for i in range(9) %}
            <div class="grid-row">
              {% for j in range(9) %}
                <div class="grid-cell">
                  <input type="number" maxlength="1" name='cell-input' value="{{ solved_board[i][j] }}" readonly>
                </div>
              {% endfor %}
            </div>
          {% endfor %}
          <div>
              <br>
              <a class="btn btn-info" href="{{ url_for('sudoku') }}">Back</a>
          </div>
      </div>
    </div>
{% endblock %}