{% extends "base.html" %}

{% block title %} Sudoku {% endblock %}

{% block content %}

  <h1>SUDOKU</h1>

  <br>
  <button style="color:#996699;" type="button" class="btn btn-outline-light" id="pur">Purple</button>&nbsp
  <button style="color:#003366;" type="button" class="btn btn-outline-light" id="bla">Blue</button>&nbsp
  <button style="color:#C0B283;" type="button" class="btn btn-outline-light" id="gld">Gold</button>

  <script src="{{ url_for('static', filename='button_color.js') }}"></script>

  <div class="game-container" >
    <div class="grid-container" >
        {% for i in range(9) %}
          <div class="grid-row" >
            {% for j in range(9) %}
              <div class="grid-cell" >
                <input type="text" maxlength="1" >
              </div>
            {% endfor %}
          </div>
        {% endfor %}

    </div>
  </div>

{% endblock %}